<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>New Tab</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="AppCtrl">

<div ng-if="app.hasDob" age></div>
<div ng-if="!app.hasDob" dob></div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="app/bookmarks.js"></script>
<script src="app/app.js"></script>

</body>
</html>
